.location__overlay {
	background-color:transparent;
	bottom:0;
	left:0;
	position:fixed;
	right:0;
	top:0;
	z-index:2002
}
.location-autosuggest {
	border-bottom:1px solid #ccc;
	background-color:#fff;
	width:100%;
	display:table
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location-autosuggest {
	border-radius:3px;
	border:1px solid #ccc
}
}
@media screen and (min-width:1260px) {
.location-autosuggest {
	border-radius:3px;
	border:1px solid #ccc
}
}
.location-autosuggest__select-container {
	width:100%;
	display:table-cell
}
.location-autosuggest__select:focus {
	outline:none
}
.location-autosuggest__select .Select {
	outline:none!important
}
.location-autosuggest__select .Select-control {
	border:none;
	box-shadow:none!important;
	font-size:12px;
	height:42px;
	margin-left:30px;
	width:calc(100% - 30px)
}
.location-autosuggest__select .Select-value-label {
	text-transform:capitalize
}
.location-autosuggest__select .Select-input, .location-autosuggest__select .Select-placeholder, .location-autosuggest__select .Select-value-label {
	line-height:43px
}
.location-autosuggest__select .Select-option {
	text-transform:capitalize
}
@media screen and (max-width:1020px) {
.location-autosuggest__select .Select-option {
	padding:12px
}
}
.location-autosuggest__select .Select-arrow {
	display:none
}
.location-autosuggest__select .Select-menu-outer {
	font-weight:400
}
.location-autosuggest__button-container {
	border-left:1px solid #ccc;
	box-sizing:border-box;
	color:#666;
	display:table-cell;
	font-size:14px;
	min-width:100px;
	position:relative;
	text-align:center;
	vertical-align:middle
}
.location-body__selected-image {
	display:inline-block;
	vertical-align:top;
	width:42px;
	margin-right:6px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location-body__selected-image {
	width:52px;
	margin-right:0
}
}
@media screen and (min-width:1260px) {
.location-body__selected-image {
	width:52px;
	margin-right:0
}
}
.location-body__selected-body {
	color:#333;
	display:inline-block;
	font-size:14px;
	margin-left:12px;
	margin-top:18px;
	vertical-align:top;
	width:260px
}
.location-body__selected-title {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location-fetching-addresses, .location-login-step, .location-no-addresses, .location-serviceability-step, .location-show-addresses {
	width:inherit;
	height:100%
}
}
@media screen and (min-width:1260px) {
.location-fetching-addresses, .location-login-step, .location-no-addresses, .location-serviceability-step, .location-show-addresses {
	width:inherit;
	height:100%
}
}
.location__shake-container {
	position:absolute;
	z-index:10000;
	top:54px;
	left:10px;
	right:10px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location__shake-container {
	top:60px;
	left:50px;
	right:0
}
}
@media screen and (min-width:1260px) {
.location__shake-container {
	top:100px;
	left:16%;
	right:0
}
@media screen and (min-width:1900px) {
.location__shake-container {
	top:100px;
	left:24%;
	right:0
}
}
.location__shake-container .animated, .location__shake-container .plp-product__error {
	-webkit-animation-duration:.8s;
	animation-duration:.8s
}
.location__btn {
	margin-right:12px;
	min-width:99px
}
.location {
	background-color:#fff;
	border-radius:3px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,.5);
	color:#333;
	width:440px
}
@media screen and (max-width:1020px) {
.location {
	width:auto
}
}
.location .login-head {
	border-bottom:none;
	left:0;
	padding:0
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location .login-head {
	padding:0 0 22px
}
}
@media screen and (min-width:1260px) {
.location .login-head {
	padding:0 0 22px
}
}
.location .location-body {
	margin:0 auto
}
@media screen and (max-width:1020px) {
.location .location-body {
	padding:12px 6px;
	font-size:14px;
	font-weight:400;
	color:#333
}
}
.location .location-helper {
	color:#333;
	line-height:1.6;
	margin-bottom:16px;
	margin-top:0;
	text-align:center
}
.location .location-head, .location .location-head__text {
	font-size:16px;
	font-weight:500
}
.location .location-head {
	line-height:1.6;
	text-align:center;
	color:#333;
	margin-bottom:24px
}
.location a:hover {
	text-decoration:underline
}
.location .ns--image {
	width:168px;
	margin-bottom:38px
}
@media screen and (max-width:1020px) {
.location .modal-back {
	left:35px;
	top:25px
}
}
.location:after, .location:before {
	bottom:100%;
	left:32%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location:after, .location:before {
	left:9%
}
}
@media screen and (min-width:1260px) {
.location:after, .location:before {
	left:9%
}
}
.location:after {
	border-color:rgba(136,183,213,0);
	border-bottom-color:#000;
	border-width:4px;
	margin-left:-4px
}
.location:before {
	border-color:rgba(194,225,245,0);
	border-bottom-color:#000;
	border-width:6px;
	margin-left:-6px
}
.location-head__text {
	color:#333;
	font-size:21px;
	margin:0;
	text-align:center;
	font-weight:200
}
.location-show-addresses {
	position:relative
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location-show-addresses {
	height:auto;
	min-height:300px;
	max-height:400px;
	overflow:auto;
	position:static
}
}
@media screen and (min-width:1260px) {
.location-show-addresses {
	height:auto;
	min-height:300px;
	max-height:400px;
	overflow:auto;
	position:static
}
}
@media screen and (max-width:1020px) {
.location-show-addresses .transition-container {
	margin-top:-36px
}
}
.location-footer {
	background-color:#fff;
	border-radius:3px;
	text-align:center
}
.location-login {
	margin:26px 0
}
.location-footer__info {
	color:#333;
	font-size:14px;
	margin-bottom:8px
}
.location-footer__login-link {
	color:#e96125;
	cursor:pointer;
	font-size:12px;
	text-align:center
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location-serviceability-step {
	background-color:#fafafa
}
}
@media screen and (min-width:1260px) {
.location-serviceability-step {
	background-color:#fafafa
}
}
.location-serviceability-step--city {
	height:424px
}
.location-serviceability-step--region {
	height:316px
}
.location-addresses {
	padding:1px 12px 12px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location-addresses {
	background-color:#fbfbfb;
	padding:1px 29px 26px
}
}
@media screen and (min-width:1260px) {
.location-addresses {
	background-color:#fbfbfb;
	padding:1px 29px 26px
}
}
.location-addresses__title {
	color:#888;
	font-size:12px;
	font-weight:400;
	margin:20px 0 10px
}
.address-container {
	border:1px solid #f2f2f2
}
.address__location-container {
	padding:24px 29px
}
.address__location-title {
	text-align:center;
	font-size:16px;
	font-weight:500;
	line-height:normal;
	margin-bottom:16px;
	color:#333
}
.address {
	background-color:#fff;
	border-bottom:1px solid #f2f2f2;
	padding:16px;
	position:relative;
	text-align:left;
	cursor:pointer
}
.address:last-child {
	border-bottom:none
}
.address:hover {
	background-color:#eee
}
.address-value {
	padding-left:32px
}
.address-icon, .address-value--home:before, .address-value--office:before, .address-value--other:before {
	color:#333;
	font-size:20px;
	left:16px;
	position:absolute;
	top:13px
}
.address-value--home:before {
	content:"I";
	font-family:IconFont;
	font-style:normal
}
.address-value--office:before {
	content:"M";
	font-family:IconFont;
	font-style:normal
}
.address-value--other:before {
	content:"r";
	font-family:IconFont;
	font-style:normal
}
.address-value__label {
	font-size:14px;
	font-weight:500;
	color:#333;
	line-height:normal
}
.address-part {
	font-weight:400;
	color:#666;
	margin-top:4px
}
.address-part__child {
	font-size:14px;
	line-height:1.4;
	color:#666
}
.addresses-loader {
	margin:32px 0 38px
}
.addresses-loader__text {
	color:#333;
	font-weight:400;
	line-height:2.1;
	margin-top:8px
}
.addresses-loader__icon .loader-img {
	height:25px;
	width:25px
}
.location-body__top-container {
	padding:24px
}
.location-body__bottom-container {
	background-color:#f9f9f9;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px
}
.location-body__bottom-wrapper {
	padding:0 24px 24px
}
.location__separator .separator-text:after, .location__separator .separator-text:before, .payment-cod-separator__text:after, .payment-cod-separator__text:before, .separator-line {
	content:"";
	position:absolute;
	top:50%;
	border-bottom:1px solid #333;
	width:48px;
	margin:0 8px
}
.location__separator {
	color:#333;
	font-size:14px;
	font-weight:500;
	height:19px;
	padding:16px 12px;
	overflow:hidden;
	text-align:center
}
.location__separator .separator-text {
	position:relative;
	display:inline-block
}
.location__separator .separator-text:before {
	right:100%
}
.location__separator .separator-text:after {
	left:100%
}
.location__selected {
	background-color:#fff;
	border-radius:2px;
	border:1px solid #eee;
	box-shadow:0 1px 4px 0 rgba(0,0,0,.05);
	cursor:pointer;
	padding:4px 12px;
	position:relative;
	transition:box-shadow .3s linear
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location__selected:hover {
	box-shadow:0 1px 4px 0 rgba(0,0,0,.3)
}
}
@media screen and (min-width:1260px) {
.location__selected:hover {
	box-shadow:0 1px 4px 0 rgba(0,0,0,.3)
}
}
.location-error-container {
	background-color:#fff5f5;
	border-radius:3px;
	bottom:0;
	color:#f34343;
	font-size:12px;
	left:0;
	padding:14px 0;
	text-align:center;
	width:100%;
	z-index:1
}
.location-error-container__body {
	max-width:262px;
	line-height:1.4;
	margin:0 auto;
	display:inline-block;
	vertical-align:text-top
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.location-error-container__body {
	max-width:315px
}
}
@media screen and (min-width:1260px) {
.location-error-container__body {
	max-width:315px
}
}
.location__detecting-location {
	position:absolute;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%)
}
.location-autosuggest__button-container .loader__circle {
	background-color:#e96125
}
.location__tooltip {
	padding:15px 0
}
.location__city-title {
	background-color:#1c2224;
	color:#fff;
	font-size:14px;
	padding:16px 0;
	text-align:center
}
.location__left-arrow {
	left:10px;
	position:absolute;
	top:13px
}
.location__left-arrow:after {
	content:"a";
	font-family:IconFont;
	font-style:normal;
	cursor:pointer;
	font-size:20px
}
.location-body__right-arrow {
	bottom:17px;
	position:absolute;
	right:12px
}
.location-body__right-arrow:after {
	content:"b";
	font-family:IconFont;
	font-style:normal;
	cursor:pointer;
	font-size:24px;
	color:#e96125
}
.location-autosuggest__button-icon {
	display:inline-block;
	line-height:30px;
	margin-right:4px;
	margin-top:1px;
	vertical-align:middle
}
.location-autosuggest__button-icon:after {
	content:"o";
	font-family:IconFont;
	font-style:normal;
	cursor:pointer;
	font-size:15px
}
.location-autosuggest__select-icon {
	color:#333;
	left:12px;
	position:absolute;
	top:9px;
	z-index:1
}
.location-autosuggest__select-icon:after {
	content:"R";
	font-family:IconFont;
	font-style:normal;
	cursor:pointer;
	font-size:20px
}
.location__selected--loader {
	height:52px;
	width:52px;
	display:inline-block
}
.location__tooltip-footer {
	margin-top:24px
}
.location__tooltip-body {
	display:table;
	padding:0 18px
}
.location__tooltip-body-title {
	display:table-cell;
	line-height:normal;
	padding-left:12px;
	text-align:left;
	vertical-align:middle
}
.location__tooltip-body-image {
	display:table-cell
}
.cities-container {
	text-align:center;
	margin-top:20px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.cities-container {
	text-align:center;
	margin:0
}
}
@media screen and (min-width:1260px) {
.cities-container {
	text-align:center;
	margin:0
}
}
.cities-container__title {
	color:#555;
	font-size:12px;
	font-weight:500;
	margin-left:24px;
	text-align:left
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.cities-container__title {
	text-align:center;
	margin-left:0
}
}
@media screen and (min-width:1260px) {
.cities-container__title {
	text-align:center;
	margin-left:0
}
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.cities-container-list__item:first-child {
	padding-left:0
}
}
@media screen and (min-width:1260px) {
.cities-container-list__item:first-child {
	padding-left:0
}
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.cities-container-list__item:last-child {
	padding-right:0
}
}
@media screen and (min-width:1260px) {
.cities-container-list__item:last-child {
	padding-right:0
}
}
.cities-container-list {
	display:table;
	width:100%
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.cities-container-list {
	margin-top:24px;
	margin-bottom:16px
}
}
@media screen and (min-width:1260px) {
.cities-container-list {
	margin-top:24px;
	margin-bottom:16px
}
}
.cities-container-list__item {
	cursor:pointer;
	display:inline-table;
	padding:15px;
	width:23%
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.cities-container-list__item {
	padding:0;
	width:20%
}
.cities-container-list__item:hover .cities-container-list__item-name {
	font-weight:500
}
}
@media screen and (min-width:1260px) {
.cities-container-list__item {
	padding:0;
	width:20%
}
.cities-container-list__item:hover .cities-container-list__item-name {
	font-weight:500
}
}
.cities-container-list__item-img {
	width:36px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.cities-container-list__item-img {
	width:42px;
	height:42px
}
}
@media screen and (min-width:1260px) {
.cities-container-list__item-img {
	width:42px;
	height:42px
}
}
.cities-container-list__item-name {
	color:#666;
	font-size:12px;
	font-weight:400;
	margin-top:4px;
	text-transform:capitalize;
	word-break:break-word
}
.img-loader--cities {
	height:42px;
	width:42px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.img-loader--cities {
	-webkit-transform:translateX(50%);
	transform:translateX(50%)
}
}
@media screen and (min-width:1260px) {
.img-loader--cities {
	-webkit-transform:translateX(50%);
	transform:translateX(50%)
}
}


/*Select css start here*/

.Select {
	position:relative
}
.Select, .Select div, .Select input, .Select span {
	box-sizing:border-box
}
.Select.is-disabled>.Select-control {
	background-color:#f9f9f9
}
.Select.is-disabled>.Select-control:hover {
	box-shadow:none
}
.Select.is-disabled .Select-arrow-zone {
	cursor:default;
	pointer-events:none;
	opacity:.35
}
.Select-control {
	background-color:#fff;
	border-color:#d9d9d9 #ccc #b3b3b3;
	border-radius:4px;
	border:1px solid #ccc;
	color:#333;
	cursor:default;
	display:table;
	border-spacing:0;
	border-collapse:separate;
	height:36px;
	outline:none;
	overflow:hidden;
	position:relative;
	width:100%
}
.Select-control:hover {
	box-shadow:0 1px 0 rgba(0,0,0,.06)
}
.Select-control .Select-input:focus {
	outline:none
}
.is-searchable.is-open>.Select-control {
	cursor:text
}
.is-open>.Select-control {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	background:#fff;
	border-color:#b3b3b3 #ccc #d9d9d9
}
.is-open>.Select-control .Select-arrow {
	top:-2px;
	border-color:transparent transparent #999;
	border-width:0 5px 5px
}
.is-searchable.is-focused:not(.is-open)>.Select-control {
	cursor:text
}
.is-focused:not(.is-open)>.Select-control {
	border-color:#007eff;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 3px rgba(0,126,255,.1)
}
.Select--single>.Select-control .Select-value, .Select-placeholder {
	bottom:0;
	color:#aaa;
	left:0;
	line-height:34px;
	padding-left:10px;
	padding-right:10px;
	position:absolute;
	right:0;
	top:0;
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, .has-value.Select--single>.Select-control .Select-value .Select-value-label {
	color:#333
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label, .has-value.Select--single>.Select-control .Select-value a.Select-value-label {
	cursor:pointer;
	text-decoration:none
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:hover, .has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus, .has-value.Select--single>.Select-control .Select-value a.Select-value-label:hover {
	color:#007eff;
	outline:none;
	text-decoration:underline
}
.Select-input {
	height:34px;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle
}
.Select-input>input {
	width:100%;
	background:none transparent;
	border:0 none;
	box-shadow:none;
	cursor:default;
	display:inline-block;
	font-family:inherit;
	font-size:inherit;
	margin:0;
	outline:none;
	line-height:14px;
	padding:8px 0 12px;
	-webkit-appearance:none
}
.is-focused .Select-input>input {
	cursor:text
}
.has-value.is-pseudo-focused .Select-input {
	opacity:0
}
.Select-control:not(.is-searchable)>.Select-input {
	outline:none
}
.Select-loading-zone {
	cursor:pointer;
	display:table-cell;
	text-align:center
}
.Select-loading, .Select-loading-zone {
	position:relative;
	vertical-align:middle;
	width:16px
}
.Select-loading {
	-webkit-animation:Select-animation-spin .4s infinite linear;
	animation:Select-animation-spin .4s infinite linear;
	height:16px;
	box-sizing:border-box;
	border-radius:50%;
	border:2px solid #ccc;
	border-right-color:#333;
	display:inline-block
}
.Select-clear-zone {
	-webkit-animation:Select-animation-fadeIn .2s;
	animation:Select-animation-fadeIn .2s;
	color:#999;
	cursor:pointer;
	display:table-cell;
	position:relative;
	text-align:center;
	vertical-align:middle;
	width:17px
}
.Select-clear-zone:hover {
	color:#d0021b
}
.Select-clear {
	display:inline-block;
	font-size:18px;
	line-height:1
}
.Select--multi .Select-clear-zone {
	width:17px
}
.Select-arrow-zone {
	cursor:pointer;
	display:table-cell;
	position:relative;
	text-align:center;
	vertical-align:middle;
	width:25px;
	padding-right:5px
}
.Select-arrow {
	border-color:#999 transparent transparent;
	border-style:solid;
	border-width:5px 5px 2.5px;
	display:inline-block;
	height:0;
	width:0;
	position:relative
}
.is-open .Select-arrow, .Select-arrow-zone:hover>.Select-arrow {
	border-top-color:#666
}
.Select--multi .Select-multi-value-wrapper {
	display:inline-block
}
.Select .Select-aria-only {
	display:inline-block;
	height:1px;
	width:1px;
	margin:-1px;
	clip:rect(0,0,0,0);
	overflow:hidden;
	float:left
}
@-webkit-keyframes Select-animation-fadeIn {
0% {
opacity:0
}
to {
	opacity:1
}
}
@keyframes Select-animation-fadeIn {
0% {
opacity:0
}
to {
	opacity:1
}
}
.Select-menu-outer {
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	background-color:#fff;
	border:1px solid #ccc;
	border-top-color:#e6e6e6;
	box-shadow:0 1px 0 rgba(0,0,0,.06);
	box-sizing:border-box;
	margin-top:-1px;
	max-height:200px;
	position:absolute;
	top:100%;
	width:100%;
	z-index:1;
	-webkit-overflow-scrolling:touch
}
.Select-menu {
	max-height:198px;
	overflow-y:auto
}
.Select-option {
	box-sizing:border-box;
	background-color:#fff;
	color:#666;
	cursor:pointer;
	display:block;
	padding:8px 10px
}
.Select-option:last-child {
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px
}
.Select-option.is-selected {
	background-color:#f5faff;
	background-color:rgba(0,126,255,.04);
	color:#333
}
.Select-option.is-focused {
	background-color:#ebf5ff;
	background-color:rgba(0,126,255,.08);
	color:#333
}
.Select-option.is-disabled {
	color:#ccc;
	cursor:default
}
.Select-noresults {
	box-sizing:border-box;
	color:#999;
	cursor:default;
	display:block;
	padding:8px 10px
}
.Select--multi .Select-input {
	vertical-align:middle;
	margin-left:10px;
	padding:0
}
.Select--multi.has-value .Select-input {
	margin-left:5px
}
.Select--multi .Select-value {
	background-color:#ebf5ff;
	background-color:rgba(0,126,255,.08);
	border-radius:2px;
	border:1px solid #c2e0ff;
	border:1px solid rgba(0,126,255,.24);
	color:#007eff;
	display:inline-block;
	font-size:.9em;
	line-height:1.4;
	margin-left:5px;
	margin-top:5px;
	vertical-align:top
}
.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
	display:inline-block;
	vertical-align:middle
}
.Select--multi .Select-value-label {
	border-bottom-right-radius:2px;
	border-top-right-radius:2px;
	cursor:default;
	padding:2px 5px
}
.Select--multi a.Select-value-label {
	color:#007eff;
	cursor:pointer;
	text-decoration:none
}
.Select--multi a.Select-value-label:hover {
	text-decoration:underline
}
.Select--multi .Select-value-icon {
	cursor:pointer;
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
	border-right:1px solid #c2e0ff;
	border-right:1px solid rgba(0,126,255,.24);
	padding:1px 5px 3px
}
.Select--multi .Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
	background-color:#d8eafd;
	background-color:rgba(0,113,230,.08);
	color:#0071e6
}
.Select--multi .Select-value-icon:active {
	background-color:#c2e0ff;
	background-color:rgba(0,126,255,.24)
}
.Select--multi.is-disabled .Select-value {
	background-color:#fcfcfc;
	border:1px solid #e3e3e3;
	color:#333
}
.Select--multi.is-disabled .Select-value-icon {
	cursor:not-allowed;
	border-right:1px solid #e3e3e3
}
.Select--multi.is-disabled .Select-value-icon:active, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:hover {
	background-color:#fcfcfc
}
@keyframes Select-animation-spin {
to {
transform:rotate(1turn)
}
}
@-webkit-keyframes Select-animation-spin {
to {
-webkit-transform:rotate(1turn)
}
}



.is-focused:not(.is-open)>.Select-control, .is-open>.Select-control {
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-color:#dbdbdb;
	box-shadow:none
}
.dropdown__menu {
	display:inline-block;
	font-size:12px;
	font-weight:500;
	width:80%;
	z-index:899
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.dropdown__menu {
	width:210px
}
}
@media screen and (min-width:1260px) {
.dropdown__menu {
	width:210px
}
}
.dropdown__menu .is-focused {
	background-color:#eee
}
.dropdown__menu .Select-arrow {
	margin-top:8px
}
.dropdown__menu .Select-arrow-zone {
	margin-top:6px;
	float:right
}
.dropdown__menu .Select-control {
	border-radius:2px;
	height:32px;
	display:block
}
.dropdown__menu .Select-option.is-selected {
	color:#e96125!important;
	background-color:#fff
}
.dropdown__menu .Select-option.is-selected:hover {
	background-color:#eee
}
.dropdown__menu .Select-menu {
	border-radius:2px;
	border:1px solid #dbdbdb;
	bottom:0;
	box-shadow:0 1px 4px 0 rgba(0,0,0,.1);
	left:0;
	list-style:none;
	max-height:-webkit-max-content;
	max-height:-moz-max-content;
	max-height:max-content;
	right:0;
	top:0
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.dropdown__menu .Select-menu {
	bottom:auto;
	padding:0;
	position:absolute;
	z-index:899
}
}
@media screen and (min-width:1260px) {
.dropdown__menu .Select-menu {
	bottom:auto;
	padding:0;
	position:absolute;
	z-index:899
}
}
.dropdown__menu .Select-menu-outer {
	border:none;
	margin-top:2px;
	z-index:9999
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.dropdown__menu .Select-menu-outer {
	z-index:899
}
}
@media screen and (min-width:1260px) {
.dropdown__menu .Select-menu-outer {
	z-index:899
}
}
.dropdown__menu .Select-option {
	background-color:#fff;
	border-bottom:1px solid #eee;
	color:#000;
	cursor:pointer;
	height:-webkit-max-content;
	height:-moz-max-content;
	height:max-content;
	padding:12px 0 12px 8px;
	z-index:899;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.dropdown__menu .Select-option:last-child {
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px
}
.dropdown__menu .Select-option:active {
	background-color:#eee!important
}
.dropdown__menu .Select-option:hover {
	background-color:#eee
}
.dropdown__menu .Select-option__content {
	display:inline-block;
	vertical-align:middle
}
.dropdown__menu .Select-option__text {
	float:left;
	margin-top:2px
}
.dropdown__menu .Select-option__sub-text {
	padding-top:4px;
	float:left;
	font-size:12px;
	font-weight:400;
	color:#999
}
.dropdown__menu .Select-value {
	cursor:pointer;
	float:left;
	margin-top:-1px;
	width:90%
}
.dropdown__menu .Select-value-label {
	background-color:#fff;
	color:#000!important;
	font-size:12px;
	font-weight:500
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.dropdown__menu .Select-value-label {
	color:#e96125!important
}
}
@media screen and (min-width:1260px) {
.dropdown__menu .Select-value-label {
	color:#e96125!important
}
}
.dropdown__menu .circle-checkbox {
	background-color:#fff;
	border:1px solid #999;
	border-radius:50%;
	display:inline-block;
	height:16px;
	line-height:16px;
	margin-right:8px;
	text-align:center;
	width:16px;
	vertical-align:middle
}
.dropdown__menu .circle-checkbox:before {
	content:"H";
	font-family:IconFont;
	font-style:normal;
	color:#fff;
	font-size:10px
}
.dropdown__menu .circle-checkbox--checked {
	background-color:#e96125;
	border:1px solid #e96125
}
@-webkit-keyframes loader-animation {
50% {
background-color:#e94f25
}
}
@keyframes loader-animation {
50% {
background-color:#e94f25
}
}
@-webkit-keyframes loader-animation--inverted {
50% {
background-color:#fff
}
}
@keyframes loader-animation--inverted {
50% {
background-color:#fff
}
}

.location-autosuggest__select-container {
	width:100%;
	display:table-cell
}
.location-autosuggest__select:focus {
	outline:none
}
.location-autosuggest__select .Select {
	outline:none!important
}
.location-autosuggest__select .Select-control {
	border:none;
	box-shadow:none!important;
	font-size:12px;
	height:42px;
	margin-left:30px;
	width:calc(100% - 30px)
}
.location-autosuggest__select .Select-value-label {
	text-transform:capitalize
}
.location-autosuggest__select .Select-input, .location-autosuggest__select .Select-placeholder, .location-autosuggest__select .Select-value-label {
	line-height:43px
}
.location-autosuggest__select .Select-option {
	text-transform:capitalize
}
@media screen and (max-width:1020px) {
.location-autosuggest__select .Select-option {
	padding:12px
}
}
.location-autosuggest__select .Select-arrow {
	display:none
}
.location-autosuggest__select .Select-menu-outer {
	font-weight:400
}
 



.my-list {
	background-color:rgba(28,34,36,.8);
	box-shadow:0 0 10px 0 rgba(0,0,0,.07);
	color:#fff;
	font-size:14px;
	font-weight:lighter;
	height:60px;
	position:fixed;
	width:100%;
	z-index:1000
}
@media screen and (max-width:1020px) {
 .my-list {
	height:105px
}
}
.header .header-item, .my-list .header-item {
	display:inline-block;
	height:60px;
	vertical-align:middle
}
@media screen and (max-width:1020px) {
.header .header-item, .my-list .header-item {
	height:58px
}
}
.header .header-item--my-account:hover, .my-list .header-item--my-account:hover {
	background-color:initial
}
.header .header-item--my-account .header-item__content:hover, .my-list .header-item--my-account .header-item__content:hover {
	background-color:#273032
}
.header .header-item--address, .my-list .header-item--address {
	padding:0 0 0 25px;
	width:255px
}
@media screen and (max-width:1020px) {
.header .header-item--address, .my-list .header-item--address {
	box-sizing:border-box;
	font-size:13px;
	padding:14px 0 11px 5px;
	width:calc(100% - 50px)
}
}
.header .header-item__label, .my-list .header-item__label {
	display:none;
	font-size:10px;
	text-align:left
}
@media screen and (max-width:1020px) {
.header .header-item__label, .my-list .header-item__label {
	display:block;
	line-height:normal;
	margin-bottom:1px;
	opacity:.7
}
}
.header .logo, .my-list .logo {
	width:36px
}
@media screen and (max-width:1020px) {
.header .logo, .my-list .logo {
	width:26px
}
}
.header .user-address, .my-list .user-address {
	display:inline-block;
	max-width:204px;
	padding:0 20px;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.header .user-address:before, .my-list .user-address:before {
	content:"r";
	font-family:IconFont;
	font-style:normal;
	font-size:16px;
	left:0;
	position:absolute
}
@media screen and (max-width:1020px) {
.header .user-address:before, .my-list .user-address:before {
	display:none
}
}
.header .user-address:after, .my-list .user-address:after {
	content:"u";
	font-family:IconFont;
	font-style:normal;
	font-size:12px;
	bottom:-1px;
	position:absolute;
	right:0
}
@media screen and (max-width:1020px) {
.header .user-address:after, .my-list .user-address:after {
	bottom:2px
}
}
@media screen and (max-width:1020px) {
.header .user-address, .my-list .user-address {
	line-height:normal;
	max-width:100%;
	padding:0 20px 0 0
}
}
.header .shopping-cart, .my-list .shopping-cart {
	background-image:url(//webcdn.grofers.com/images/header/cart_2x-7864a41bb83cfd709035852976ab578e.png);
	background-position:22px;
	background-repeat:no-repeat;
	background-size:24px;
	cursor:pointer;
	padding-left:38px;
	position:relative;
	width:92px
}
@media screen and (max-width:1020px) {
.header .shopping-cart, .my-list .shopping-cart {
	background-position:10px;
	height:100%;
	padding-left:0;
	width:55px
}
}
.header .shopping-cart .item-count, .my-list .shopping-cart .item-count {
	background-color:#e96125;
	border-radius:20px;
	display:block;
	font-size:12px;
	font-weight:500;
	height:10px;
	left:26px;
	line-height:1;
	min-width:10px;
	padding:5px;
	position:absolute;
	text-align:center;
	top:8px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.header .shopping-cart .item-count, .my-list .shopping-cart .item-count {
	left:38px
}
}
@media screen and (min-width:1260px) {
.header .shopping-cart .item-count, .my-list .shopping-cart .item-count {
	left:38px
}
}
.header .shopping-cart .item-count:after, .my-list .shopping-cart .item-count:after {
	content:attr(data-counter);
	height:20px;
	left:6px;
	line-height:20px;
	position:absolute
}
.header__left {
	display:inline-block;
	margin-right:-4px;
	width:calc(100% - 100px)
}


.my-list {
	background-color:#1c2224;
	height:100%;
	left:0;
	overflow-y:scroll;
	position:fixed;
	top:0;
	width:100%;
	z-index:2002
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.my-list {
	display:none
}
}
@media screen and (min-width:1260px) {
.my-list {
	display:none
}
}
.my-list__header {
	padding:13px 16px;
	text-align:center;
	margin-bottom:12px
}
.my-list__title {
	color:#fff;
	display:inline-block;
	font-size:16px;
	margin-top:8px;
	height:20px
}
.my-list__types-container {
	padding:0 16px
}
.my-list__back:after {
	content:"a";
	font-family:IconFont;
	font-style:normal;
	color:#fff;
	display:inline-block;
	font-size:32px
}
.my-list .shopping-cart {
	position:absolute;
	right:4px;
	height:inherit
}
.product-cont{display:table; width: 100%;box-shadow: 0 2px 4px 0 rgba(0,0,0,.22); padding: 1em; margin-top: 3em; }
.product-cont .left-panel{width: 24%; display: table-cell; margin-top: 1em; float: left; margin-right: 0.1em;border: 1px solid #c5c5c5;}
.product-cont .right-panel{width: 75%; display: table-cell; margin-top: 0.1em; float: left; border: 0px solid #ededed; padding: 1em;}


.breadcrumb-navs {
	font-size:12px;
	font-weight:200;
	line-height:normal;
	margin:0 0 6px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.breadcrumb-navs {
	margin:initial;
	padding:19px 0
}
}
@media screen and (min-width:1260px) {
.breadcrumb-navs {
	margin:initial;
	padding:19px 0
}
}
.feature-edlp-with-banner .breadcrumb-navs {
	margin:10px 0 6px
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.feature-edlp-with-banner .breadcrumb-navs {
	padding:13px 0 5px
}
}
@media screen and (min-width:1260px) {
.feature-edlp-with-banner .breadcrumb-navs {
	padding:13px 0 5px
}
}
.breadcrumb-navs__lists-item {
	color:#999;
	padding-left:6px
}
.breadcrumb-navs__lists-item .name {
	display:inline-block;
	vertical-align:bottom;
	width:calc(100% - 15px);
	text-transform:capitalize;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
@media screen and (min-width:1020px) and (max-width:1260px) {
.breadcrumb-navs__lists-item .name {
	width:auto
}
}
@media screen and (min-width:1260px) {
.breadcrumb-navs__lists-item .name {
	width:auto
}
}
.breadcrumb-navs__lists-item:hover .name {
	text-decoration:underline;
	color:#333
}
.breadcrumb-navs__lists-item.no-link .name {
	cursor:default;
	text-decoration:none!important
}
.breadcrumb-navs__lists-item:after {
	content:"b";
	font-family:IconFont;
	font-style:normal;
	font-size:9px;
	padding-left:5px
}
.breadcrumb-navs__lists-item:first-child {
	min-width:50px;
	padding-left:0
}
.breadcrumb-navs__lists-item:last-child {
	color:#333
}
.breadcrumb-navs__lists-item:last-child .name {
	width:100%
}
.breadcrumb-navs__lists-item:last-child:after {
	display:none
}